body {
  background-color: #424242;
  padding: 62px 85px;
  font-family: 'Open Sans';
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

.flex {
  display: flex;
}

h1 {
  color: #fff;
}

.custom-elements__container {
  display: flex;
  align-items: flex-start;
  min-width: 2678px;
}

/* чекбокс */

.checkbox__container {
  flex-shrink: 0;
  display: inline-block;
  padding: 22px 35px 30px 30px;
  margin-right: 58px;
  height: fit-content;
  border-radius: 10px;
  background-color: #fff;
}
.checkbox__header {
  margin-bottom: 22px;
  font-size: 19.4px;
  font-weight: 600;
}

.checkbox__label {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
}

.checkbox__label:not(:last-child) {
  margin-bottom: 21px;
}

.checkbox__label input {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  bottom: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.checkbox__label p {
  font-size: 15px;
  font-weight: 400;
}

.checkbox__label span {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #999999;
  border-radius: 20%;
}

.checkbox__label span:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 2px;
  width: 9px;
  height: 9px;
  opacity: 0;
  background-image: url(/img/Rectangle99.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.checkbox__input:checked ~ span:before {
  opacity: 1;
}

.checkbox__input:checked ~ span {
  border-color: #CCB26E;
}

.checkbox__input:focus ~ .custom__checkbox,
.checkbox__input:hover ~ .custom__checkbox {
  border-color:#FF5C00;
}

/* селект */

.select__container {
  margin-right: 58px;
  flex-shrink: 0;
  width: 176px;
}

.choices__list--single .choices__item {
  color: #000;
  opacity: 1;
}

.header_choices.choices[data-type*=select-one]:after {
  width: 13px;
  height: 13px;
  top: 14px;
  right: 19px;
  transform: translateX(50%);
  border-radius: 100%;
  border: 0;
  background-image: url(/img/Rectangle141.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform .1s ease-in-out;
  z-index: 5;
}

.header_choices.choices[data-type*=select-one].is-open:after {
  transform: rotate(180deg) translate(-50%, 2px);
  margin-top: 0;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 5.5px;
}

.choises .choices__list.choices__list--dropdown.choices__placeholder {
  display: none;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after {
  display: none;
}

.header_choices .choices__inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #f9f9f9;
  padding: 4.5px 10.5px 5.5px;
  border: 1px solid #ddd;
  border-radius: 2.5px;
  min-height: 38px;
  font-size: 16px;
  overflow: hidden;
  box-sizing: border-box;
}

.header_choices {
  max-width: 400px;
}

.header_choices .choices__list--dropdown {
  top: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid #CCB26E;
  box-sizing: border-box;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  position: relative;
  padding: 10px 15px 12px;
  font-size: 14px;
}

.header_choices .choices__inner {
  position: relative;
  z-index: 2;
  border-radius: 10px;
}

.header_choices.is-open .choices__inner {
  border-radius: 10px;
  
  border: 1px solid #CCB26E;
}

.choices .choices__list .choices__item.is-selected {
  display: none; 
}

.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 0;
}

/* Map */

.map__container {
  margin-right: 58px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* Scroll */

.scroll__container {
  margin-right: 58px;

}

.scroll__text {
  padding: 20px 30px;
  background-color: #fff;

  width: 340px;
  height: 270px;

  font-size: 15px;
  line-height: 1.6;
  font-family: 'Open Sans';
}

[data-simplebar] {
  overflow: auto;
}

.simplebar-scrollbar::before {
  background-color: #CCB26E;
}

/* Form */

.form__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  margin-right: 57px;
  width: 380px;
  padding: 39px 30px;
  border-radius: 10px;

  background-color: rgba(40, 40, 40, 0.4);

  font-family: 'Roboto';
}

.input__container {
  position: relative;
}

.input__container input {
  padding: 20px 20px;
  width: 89.3%;
  margin-bottom: 31px;

  border: 1px solid #FF5C00;
  border-radius: 10px;
  font-size: 16px;
}

.input__container:last-child input {
  margin-bottom: 30px;
}

.js-validate-error-label {
  content: '';
  position: absolute;
  top: -20px;
  left: 20px;

  font-size: 13.5px;
}

.form__btn {
  padding: 17px 53px;
  cursor: pointer;

  background: #FF5C00;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
}

/* Tooltip */

.tooltip__container {
  flex-direction: column;
  flex-wrap: wrap;

}
.tooltip__section {
  padding: 20px 80px 20px 30px;

  max-width: 265px;

  background-color: #fff;

  font-size: 16px;
  line-height: 1.5;
  font-family: 'Open Sans';
}

.tooltip__section:not(:last-child) {
  margin-bottom: 30px;
}

.tooltip__text {
  display: inline;
  width: 90%;
}

.marker {
  display: inline;
  position: relative;
}

.marker svg:hover path,
.marker svg:focus path {
  fill: #CCB26E;
}

.marker svg:hover ~ .pop-up,
.marker svg:focus ~ .pop-up {
  visibility: visible;
}

.pop-up {
  visibility: hidden;
  position: absolute;
  content: '';
  top: -324.2%;
  left: -477.8%;
  padding: 9px 15px 9px 15px;
  width: max-content;
  background-color: #424242;
  transition: visibility .3s ease-in-out;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12px;}

.pop-up::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  left: 50%;
  bottom: -20%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #424242;
}