/* Разрешение 1520 px */
@media (max-width: 1520px) {
  .about-us__item {
    background-position: 6.5% 50%;
    background-size: 25%;
  }
}

/* Разрешение меньше 1200 пикселей */

@media (max-width: 1200px) {
  .footer {
    padding: 4.86% 4.8%;
  }

  .footer__logo {
    margin-bottom: 5%;
  }

  .footer__social-contacts a:not(:last-child) {
    margin-right: 6.6%;
  }

  .footer__center {
    width: 58.5%;
    margin-right: 0;
  }

  .footer__fieldset > input {
    padding: 3.9% 4.3%;
  }

  .footer__fieldset textarea {
    padding: 3.9% 4.2%;
    margin-bottom: 5.7%;
  }

  .footer__button {
    padding: 3.7%;
    margin-right: 4%;
    width: calc((100% - 60px) / 2);
  }

  .form__checkbox input[type="checkbox"] + label {
    display: inline-flex;
    align-items: center;
  }

  .form__checkbox input[type="checkbox"] + label::before {
    padding-top: 1px;
    width: 11px;
    height: 11px;
    margin-right: 4px;
  }

  .footer__right {
    display: none;
  }
}

/* Разрешение меньше 1024 пикселей */

@media (max-width: 1024px) {
  .header {
    padding: 0 50px;
  }

  .header .container {
    align-items: center;
    padding: 25px 0;
  }

  .header__burger {
    display: inline-block;
  }

  .header__logo {
    width: fit-content;
  }

  .header__nav {
    display: none;
  }

  .header__nav-list {
    display: none;
  }

  .calculation {
    padding: 0 50px;
  }

  .calculation .container {
    background-image: url("/img/low-angle-photo-of-balconies-1024.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .calculation__container {
    padding: 17.4% 8.2%;
    max-width: 100%;
  }

  .calculation__header {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 2.4%;
  }
  .calculation__discription {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 7.5%;
  }

  .calculation__button {
    padding: 1.15em 0.8em;
    box-sizing: content-box;
  }

  .about-us {
    padding: 8% 4.8% 4%;
  }

  .about-us__header {
    margin-bottom: 1%;
  }

  .about-us__discription {
    max-width: 100%;
    margin-bottom: 6.8%;
  }

  .about-us__features {
    flex-wrap: wrap;
  }

  .about-us__left {
    width: 100%;
    min-height: 640px;
    background-image: url(/img/Rectangle-2.jpeg);
    background-size: cover;
    margin-bottom: 3.4%;
  }

  .about-us__left-more {
    padding: 5.8% 5.65% 5.26% 5.5%;
  }

  .about-us__left-discription {
    width: 55%;
  }

  .about-us__button {
    padding: 2.25% 4.2%;
  }

  .about-us__right-list {
    width: 100%;
  }

  .about-us__item {
    padding: 6.3% 0 6.7% 34.4%;

    background-position: 10.5% 50%;
  }

  .how-work {
    padding: 4.1% 5% 2.3%;
  }

  .how-work__header {
    margin-bottom: 5.6%;
  }

  .how-work__steps {
    margin-bottom: 5.7%;
  }

  .how-work__step:not(:last-child) {
    margin-right: 9.26%;
  }

  .how-work__consultation::before {
    width: 47.3%;
    height: 95%;
  }

  .how-work__consultation-header {
    margin-bottom: 1.3%;
  }

  .how-work__consultation-discription {
    width: 47%;

    margin-bottom: 2.6%;
  }

  .how-work__more-btn,
  .calculation__button {
    margin-right: 3%;
  }

  .how-work__contract-btn {
    padding: 1.2em 2.2em;
  }

  .questions {
    padding: 3.1% 5% 8%;
  }

  .questions__header {
    margin-bottom: 3.5%;
  }

  .questions__button {
    align-items: center;
    padding: 3.2% 0;
  }

  .questions__discription {
    font-size: 20px;
    max-width: 83%;
    line-height: 1.65;
  }
}

/* Разрешение меньше 768 пикселей */

@media (max-width: 768px) {
  .header .container {
    padding: 1% 0;
  }

  .header__logo {
    padding-top: 3px;
    margin-right: 5px;
  }

  .header__search {
    padding-top: 4px;
  }

  .header__search--active {
    border-radius: 10px;
    top: -9px;
    left: -365px;
    padding: 5px 13px;
    width: 400px;
  }

  .header__search-text {
    max-width: 412px;
    transition: width 0.3s linear;
  }

  .calculation__container {
    padding: 24.4% 6% 23.9%;
  }

  .calculation__header {
    font-size: 50px;
    margin-bottom: 3%;
  }

  .calculation__discription {
    font-size: 18px;
    margin-bottom: 10.5%;
  }

  .calculation__button {
    max-width: 41.2%;
    padding: 1.1em 0.8em;
  }

  .about-us {
    padding: 10.9% 6.5% 5.5%;
  }

  .about-us__header {
    margin-bottom: 1.5%;
  }

  .about-us__discription {
    margin-bottom: 9%;
  }

  .about-us__left-more {
    padding: 5.4% 5.95% 4.76% 6.1%;
  }

  .about-us__left-discription {
    width: 65%;
  }

  .about-us__button {
    padding: 3.05% 6%;
  }

  .about-us__left {
    min-height: 649px;
    margin-bottom: 4.9%;
  }

  .about-us__item {
    padding: 4% 0 5.1% 25.3%;
    background-position: 7% 49.9%;
    background-size: 17.3%;
  }

  .about-us__item:not(:last-child) {
    margin-bottom: 4.8%;
  }

  .about-us__item-discription {
    width: 90%;
  }

  .how-work {
    padding: 5.3% 6.4% 4.2%;
  }

  .how-work__header {
    margin-bottom: 7.6%;
  }

  .how-work__step:not(:last-child) {
    margin-right: 23%;
  }

  .how-work__consultation {
    padding-top: 50.3%;
  }

  .how-work__consultation::before {
    width: 100%;
    max-height: 284px;
  }

  .how-work__consultation-header {
    margin-bottom: 1.5%;
  }

  .how-work__consultation-discription {
    width: 100%;
    margin-bottom: 3.6%;
  }

  .how-work__more-btn,
  .calculation__button {
    margin-right: 4.3%;
  }

  .questions {
    padding: 4.2% 6.4% 10.5%;
  }

  .questions__header {
    margin-bottom: 5.3%;
  }

  .questions__discription {
    max-width: 87%;
  }

  .questions__button {
    align-items: center;
    padding: 4.36% 0;
  }

  .footer {
    padding: 7.06% 6.6%;
  }

  .footer .container {
    flex-direction: column;
  }

  .footer__nav {
    display: none;
  }

  .footer__left {
    order: 2;
    flex-direction: column;
    width: 100%;
  }

  .footer__center {
    order: 1;
    width: 81%;
    margin-right: 0;
    margin-bottom: 7.4%;
  }

  .footer__fieldset > input {
    padding: 3.8% 4.3%;
  }

  .footer__fieldset textarea {
    padding: 4% 4.2%;
    margin-bottom: 5.7%;
  }

  .footer__button {
    padding: 3.7%;
    margin-right: 4%;
    width: calc((100% - 58px) / 2);
  }

  .form__checkbox input[type="checkbox"] + label {
    padding-top: 1px;
    align-items: center;
  }

  .footer__logo {
    margin-bottom: 1.7%;
  }

  .footer__social-contacts a:not(:last-child) {
    margin-right: 3.1%;
  }
}

/* Разрешение 680 px */
@media (max-width: 680px) {
  .how-work__consultation::before {
    max-height: 254px;
  }
}

/* Разрешение 600 px */
@media (max-width: 600px) {
  .calculation__header {
    font-size: 36px;
  }

  .calculation__discription {
    font-size: 16px;
  }

  .calculation__button {
    font-size: 18px;
  }

  .how-work__step:not(:last-child) {
    margin-right: 20%;
  }

  .how-work__consultation::before {
    max-height: 220px;
  }
}

/* Разрешение 550 px */
@media (max-width: 550px) {
  .how-work__consultation::before {
    max-height: 200px;
  }
}


/* Разрешение меньше 450xp */
@media (max-width: 500px) {
  .header__search--active {
    border-radius: 10px;
    top: -2px;
    left: -224px;
    padding: 0px 10px;
    width: 260px;
  }
  .calculation__header {
    font-size: 32px;
  }
  
  .calculation__button {
    padding: 0.6em 0.8em;

    font-size: 16px;
  }

  .about-us__header {
    font-size: 40px;
  }

  .how-work__header {
    font-size: 40px;
  }

  .questions__header {
    font-size: 40px;
  }

  .footer__heder {
    font-size: 40px;
  }

  .how-work__consultation::before {
    max-height: 165px;
  }
}

/* Разрешение меньше 320px */

@media (max-width: 400px) {
  body {
    font-size: 14px;
  }

  .header {
    padding: 0 4.7%;
  }

  .header .container {
    padding: 4.6% 0;
  }

  .calculation {
    padding: 0 4.7%;
  }

  .calculation .container {
    background-image: url(/img/low-angle-photo-of-balconies-2462015-320px.jpeg);
  }

  .calculation__container {
    padding: 20.8% 8.3% 21%;
    text-align: center;
  }

  .calculation__header {
    font-size: 20px;
    margin-bottom: 3%;
  }

  .calculation__discription {
    text-align: center;
    font-size: 12px;
    line-height: initial;
    margin-bottom: 13.5%;
  }

  .calculation__button {
    max-width: 55.8%;
    padding: 1.1em 2.4em;
    font-size: 12px;
    margin: 0 auto;
  }

  .about-us {
    padding: 19.5% 4.5% 14.2%;
  }

  .about-us__header {
    font-size: 24px;
    margin-bottom: 6.9%;
  }

  .about-us__discription {
    margin-bottom: 4.8%;
  }

  .about-us__left {
    min-height: auto;
    background-image: url("/img/Rectangle-2.jpeg");
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .about-us__left-more {
    display: flex;
    flex-direction: column;

    padding: 70.7% 0 0 0;

    color: #333;
    background-color: rgb(0 0 0 / 0%);
  }

  .about-us__left-discription {
    width: 100%;
    margin-bottom: 4%;
    font-weight: 400;
  }

  .about-us__button {
    padding: 3.85% 14.6%;
    align-self: flex-start;

    border: 2px solid #ff9900;
    color: #ff9900;
    font-size: 12px;
  }

  .about-us__item {
    padding: 27.2% 0 0 0;
    border: none;
    line-height: 2;
    background-size: 22.3%;
    background-position: 0 8.1%;
  }

  .about-us__item:not(:last-child) {
    margin-bottom: 5%;
  }

  .about-us__item-1 {
    background-image: url(/img/Frame-39.svg);
  }

  .about-us__item-2 {
    background-image: url(/img/Frame-38.svg);
  }

  .about-us__item-header {
    margin-bottom: 1%;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    width: 100%;
  }

  .about-us__item-discription {
    width: 100%;

    font-weight: 400;
    font-size: 14px;
  }

  .how-work {
    padding: 5.3% 4.4% 5.5%;
  }

  .how-work__header {
    margin-bottom: 7.6%;

    font-size: 24px;
    font-weight: 400;
  }

  .how-work__step:not(:last-child) {
    margin-right: 15.36%;
  }

  .how-work__step {
    font-size: 14px;
  }

  .how-work__consultation {
    padding-top: 62.1%;
  }

  .how-work__consultation::before {
    top: 0;
    width: 100%;
    max-height: 160px;
  }

  .how-work__consultation-header {
    margin-bottom: 4.8%;

    font-size: 18px;
    font-weight: 500;
  }

  .how-work__consultation-discription {
    margin-bottom: 5.3%;
  }

  .how-work__more-btn {
    margin-right: 2.1%;
    padding: 1.1em 3.7em;

    font-size: 12px;
  }

  .how-work__contract-btn {
    padding: 1em 2.55em;

    font-size: 12px;
  }

  .questions {
    padding: 10.9% 4.6% 19%;
  }

  .questions__header {
    margin-bottom: 6.2%;

    font-size: 24px;
    font-weight: 400;
  }

  .questions__button {
    align-items: center;
    padding: 10.46% 0 9.7%;
  }

  .questions__discription {
    font-size: 14px;
    font-weight: 500;
    max-width: 83%;
    line-height: 1.75;
  }

  .questions__svg {
    height: 30px;
    width: 30px;
  }

  .footer {
    padding: 10.6% 4.5%;
  }

  .footer .container {
    justify-content: flex-start;
  }

  .footer__center {
    order: 1;
    width: 100%;
    margin-right: 0;
    margin-bottom: 5.9%;
  }

  .footer__heder {
    margin-bottom: 7%;
    font-size: 24px;
    font-weight: 400;
  }

  .footer__fieldset input:not(:last-child) {
    margin-bottom: 8.7%;
  }

  .footer__fieldset > input {
    padding: 7.5% 7%;
  }

  .footer__fieldset textarea {
    padding: 7.2% 7.2% 11%;
    margin-bottom: 8.8%;
  }

  .form__checkbox {
    flex-wrap: wrap;
    padding-bottom: 8.2%;
    border-bottom: 1px solid #cacaca;
  }

  .footer__button {
    padding: 4.6% 9.6%;
    margin: 0 auto 6%;
    width: auto;
    font-size: 12px;
  }

  .form__checkbox input[type="checkbox"] + label {
    margin: 0 auto;
    align-items: center;
    letter-spacing: 1.2px;
  }

  .footer__left {
    order: 2;
    flex-direction: column;
    width: 100%;
  }

  .footer__logo {
    margin: 0 auto;
    margin-bottom: 4%;
  }

  .footer__social-contacts {
    display: flex;
    justify-content: center;
  }

  .footer__svg {
    height: 40px;
    width: 40px;
  }

  .footer__social-contacts a:not(:last-child) {
    margin-right: 5.2%;
  }
}
