@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Regular"),
        url("../fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/Montserrat-Regular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Medium"), 
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}
  
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-SemiBold"), 
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Bold"), 
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-ExtraBold"), 
    url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

:root {
    --color-orange: #FF9900;
    --color-white: #fff;
}

ul,
li,
p,
h1, h2, h3,
button,
fieldset {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333;
}

.flex {
    display: flex;
}

.container {
    max-width: 1770px;
    margin: 0 auto;
}


/* Не пойму как сделать тень наезжающую на main */
.header {
    box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 50%);
    padding: 0 75px;
    
}

.header .container {
    justify-content: space-between;
    padding: 0.75rem 0;
}

.header__burger {
    display: flex;
    align-items: center;
    display: none;
}


/* Выпадающее бургер меню */
.stop-scroll {
    overflow: hidden;
}

.header__burger-list {
    z-index: 20;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    padding: 165px 50px 60px;

    visibility: hidden;
    transform: translateX(-120%);
    overflow-y: auto;

    width: 41%;
    min-width: 280px;
    height: 100vh;

    background-color: #fff;
    box-shadow: 0px 0px 5px #888;

    transition: visibility 0.25s ease-in-out, transform 0.3s ease-in-out;
}

.header__burger-item
.header__link {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}

.header__burger-list-active {
    visibility: visible;
    transform: none;
}

.header__burger-item:not(:last-child) {
    margin-bottom: 60px;
}

.header__burger-btn-active {
    z-index: 25;
}

.header__burger-btn:focus-visible {
    outline: 2px solid var(--color-orange);
    outline-offset: 2px;
}

.header__burger-btn:active span {
    width: 25px;
    background-color: var(--color-orange);
}

.header__burger-btn:active span::after {
    width: 16px;
    background-color: var(--color-orange);
}

.header__burger-btn:active span::before {
    width: 30px;
    background-color: var(--color-orange);
}

.header__burger-btn-active:active
.header__burger-btn-span,
.header__burger-btn-active:active
.header__burger-btn-span::after,
.header__burger-btn-active:active
.header__burger-btn-span::before {
    width: 30px;
}


.header__burger-btn-active::before {
    content: '';
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

.header__burger-btn-active
.header__burger-btn-span {
    top: 10px;
    left: -2px;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
}

.header__burger-btn-active
.header__burger-btn-span::before {
    top: 0%;
    transform: rotate(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
}

.header__burger-btn-active
.header__burger-btn-span::after {
    top: 0;
    transform: rotate(90deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
}

.header__burger-btn {
    position: relative;
    display: flex;
    align-items: center;

    width: 30px;
    height: 23px;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.header__burger-btn-span,
.header__burger-btn-span::before,
.header__burger-btn-span::after {
    position: absolute;
    right: 0;
    display: block;

    width: 100%;
    height: 3px;

    background-color: #333;
    transition-property: color, width;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.header__burger-btn-span::before {
    content: '';
    top: -10px;
}

.header__burger-btn-span::after {
    content: '';
    top: 10px;
}

.header__logo {
    width: 56%;
}

.header__nav {
    max-width: 794px;
    width: 100%;
    justify-content: space-around;

    padding: 15px 0;
}

.header__nav-list {
    flex-grow: 1;
    justify-content: space-between;
    align-self: center;
    
    margin-right: 10%;
}

.header__nav-item:not(:last-child) {
    margin-right: 10px;
}

.header__link {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.header__link:hover:not(:focus-visible)::before {
    transform: scale(1);
}

.header__link:focus-visible {
    outline-color: var(--color-orange);
}

.header__link:active {
    color: #E1670E;
}

.header__link:active:not(:focus-visible)::before {
    background-color: #E1670E;
}

/* Поиск */

.header__search-container {
    position: relative;
    align-self: center;
}

.header__search {
    border: none;
    background-color: var(--color-white);
    cursor: pointer;
}

.header__search-container-active {
    position: absolute;
    top: 10px;
    left: 0;

    padding: 16px 13px 16px 32px;

    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 5px #333;

    overflow: hidden;
    padding: 0;
    width: 0;
    height: 0;

    transition-property: top, left, padding, width, height;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.header__search-container-active form {
    display: flex;
    align-items: center;
}

.header__search-text {
    padding: 10px 0;
    width: 412px;

    margin-right: 14px;

    border: none;
    border-bottom: 1px solid #DCDCDC;
    outline: none;
}

.header__search-text::-webkit-input-placeholder { 
    color: #DCDCDC; 
}

.header__search-active {
    margin-right: 22px;
    border: none;
    background-color: var(--color-white);
    cursor: pointer;
}

.header__search-active svg rect {
    fill: var(--color-orange);
}

.header__search-active svg path {
    stroke: var(--color-orange);
}

.header__search-close {
    border: none;
    background-color: var(--color-white);
    cursor: pointer;
}

.header__search--active {
    top:-20px;
    left: -505px;
    width: 540px;
    padding: 16px 13px 16px 32px;
    height: auto;
}

/* Секция Калькуляция */

.calculation {
    padding: 0 3% 2.4%;
}

.calculation .container {
    position: relative;
}

/* Свайпер */

.swiper-container {
    position: absolute;
    min-height: inherit;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: inherit;
}

.swiper-slide {
    background-image: url("../img/slide-3.jpeg");
}

.swiper-slide:nth-child(2) {
    background-image: url("../img/slide-1.jpeg");
}

.swiper-slide:nth-child(3) {
    background-image: url("../img/slide-2.jpeg");
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 27px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}

/* Не пойму почему не работает z-index у контейнера */
.calculation__container {
    /* z-index: 10;  */
    flex-direction: column;

    max-width: 55%;
    padding: 5.7% 0 5.8% 4.6%;

    color: var(--color-white);
}

.calculation__header {
    z-index: 10;

    font-size: 70px;
    font-weight: 800;
    margin-bottom: 2.7%;
    line-height: 1.2;
    
}
.calculation__discription {
    z-index: 10;

    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10.2%;
}
.calculation__button {
    z-index: 10;

    max-width: 31.5%;
    padding: 1.1em 1em;
    
    background-color: var(--color-orange);
    border: none;
    cursor: pointer;

    font-size: 23.5px;
    font-weight: 700;
    color: var(--color-white);

}
.about-us {
    padding: 2.51% 3%;
}

.about-us .container {
    flex-direction: column;

}

.about-us__header {
    margin-bottom: 1.4%;

    font-size: 48px;
    font-weight: 400;
}

.about-us__discription {
    max-width: 70%;
    margin-bottom: 2.7%;

    line-height: 2;
}

.about-us__features {
    justify-content: space-between;
}

.about-us__left {
    flex-direction: column;
    justify-content: flex-end;

    width: calc((100% - 32px) / 2);
    min-height: 620px;

    background-image: url("../img/Rectangle-2.jpeg");
    background-size: cover;
    background-position: 30%;
}

.about-us__left-more {
    justify-content: space-between;
    align-items: center;

    padding: 6% 6% 5.7% 5.7%;

    background-color: rgb(0 0 0 / 50%);

    color: var(--color-white);
    font-weight: 700;
}

.about-us__left-discription {
    width: 60%;

    line-height: 2;
}

.about-us__button {
    padding: 2.5% 4.5%;

    border: 3px solid var(--color-orange);
    background-color: transparent;
    cursor: pointer;

    color: inherit;
    font-weight: inherit;
}

.about-us__right-list {
    flex-direction: column;

    width: calc((100% - 32px) / 2);
}

.about-us__item {
    flex-direction: column;

    padding: 6.3% 0 7.5% 34.4%;

    border: 1px solid #CACACA;

    line-height: 2;

    background-repeat: no-repeat;
    background-position: 8.5% 50%;
}

.about-us__item:not(:last-child) {
    margin-bottom: 3.5%;

}

.about-us__item-1 {
    background-image: url("../img/Frame-16.png");
}

.about-us__item-2 {
    background-image: url("../img/Frame-12.png");
}

.about-us__item-header {
    font-size: 24px;
    font-weight: 700;

    line-height: 1.85;
    width: 91%;
}

.about-us__item-discription {
    width: 75%;
}

.how-work {
    padding: 1.9% 3% 0;
}

.how-work__container {
    flex-direction: column;
}

.how-work__header {
    margin-bottom: 3.1%;

    font-size: 48px;
    font-weight: 400;
}
.how-work__steps {
    margin-bottom: 2.7%;
}

.how-work__step {
    background-color: var(--color-white);
    border: none;
    cursor: pointer;
}

.how-work__step:not(:last-child)  {
    margin-right: 4.86%;
}

.how-work__step {
    font-size: 18px;
    color: #333;

    background-color: transparent;
}

.how-work__step-active {
    color: #E1670E;
}

.how-work__consultation {
    display: none;
    position: relative;
    flex-direction: column;
    padding-bottom: 3%;
}

.how-work__consultation-active {
    display: block;
}

.how-work__consultation::before {
    content: '';
    position: absolute;
    bottom: 50px;
    right: 0;
    top: 10px;

    width: 49%;

    background-size: cover;
    background-position: center;
}

/* Картинки консультация */

.how-work__consultation[data-target="one"]::before {
    background-image: url('../img/Rectangle-18.jpeg');
}

.how-work__consultation[data-target="two"]::before {
    background-image: url('../img/Rectangle-18-2.jpeg');
}

.how-work__consultation[data-target="three"]::before {
    background-image: url('../img/Rectangle-18-3.jpeg');
}

.how-work__consultation[data-target="four"]::before {
    background-image: url('../img/Rectangle-18-4.jpeg');
}

.how-work__consultation-header {
    margin-bottom: 0.7%;

    font-size: 24px;
}

.how-work__consultation-discription {
    margin-bottom: 2.7%;

    width: 43%;

    line-height: 2;
}

.how-work__more-btn {
    padding: 1.3em 2.4em;
    margin-right: 1.5%;
    
    background-color: var(--color-orange);
    border: none;
    cursor: pointer;

    font-size: 16px;
    font-weight: 700;
    color: var(--color-white);
}
.how-work__contract-btn {
    padding: 1.3em 2.3em;
    
    background-color: var(--color-white);
    border: 1px solid #333;
    cursor: pointer;

    font-size: 16px;
    font-weight: 700;
    color: #333;
}

.questions {
    padding: 2.5% 3% 5.2%;
}

.questions__header {
    margin-bottom: 2.5%;
    font-size: 48px;
    font-weight: 400;
}

/* Аккордион */

.ac .ac-trigger::after {
    display: none;
}

.ac {
    border: none;
    margin-top: 0;
}

.accordion-container .ac .ac-trigger {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    color: #333333;
}

.ac-panel {
    max-width: 1000px;
}

.ac .ac-panel .ac-text {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

.questions__button,
.accordion-container .ac .ac-trigger {
    position: relative;
    width: 100%;
    padding: 1.67% 0;
    margin-bottom: -1px;

    border: none;
    border-top: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
    background-color: var(--color-white);

    cursor: pointer;
}

.is-active .ac-header .ac-trigger .questions__svg {
    transform: rotate(45deg);
}

.questions__discription {
    align-self: center;
    margin-right: auto;

    text-align: initial;
    font-size: 24px;
    font-weight: 700;
}

.questions__discription-slash {
    color: #CACACA;
}

.footer {
    padding: 2.4% 3%;

    background-color: #222;
    color: #CACACA;
}

.footer .container {
    justify-content: space-between;
}

.footer__left {
    flex-direction: column;
    width: 33.9%;
}

.footer__logo {
    margin-bottom: 2.9%;
    outline: none;
}

.footer__item:last-child {
    margin-bottom: 90px;
}

.footer__nav-link {
    color: #CACACA;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.3px;

}

.footer__social-contacts a {
    outline: none;
}

.footer__social-contacts a:not(:last-child) {
    margin-right: 3.5%;
}

.footer__center {
    flex-direction: column;

    margin-right: auto;

    width: 32.3%;
}

.footer__fieldset {
    flex-direction: column;

    border: none;
}

.footer__fieldset > input,
.footer__fieldset textarea {
    padding: 3.6% 4.4%;

    width: 100%;

    background-color: #414141;
    border: none;

    transition: background-color .3s ease-in-out;
}

.footer__fieldset textarea {
    margin-bottom: 5.2%;
    resize: none;
}

.footer__fieldset input:not(:last-child){
    margin-bottom: 4.4%;
}

.footer__heder {
    margin-bottom: 4.9%;

    font-size: 48px;
    font-weight: 400;
}

.footer__fieldset > input,
.footer__fieldset textarea {
    color: var(--color-white);
}

.form__checkbox {
    align-items: center;
}

.form__checkbox input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.form__checkbox input[type="checkbox"] + label {
    display: inline-flex;
    align-items: center;
}

.form__checkbox input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    left: 0px;
    top: 0px;
    width: 14px;
    height: 14px;
    margin-right: 5px;

    border: 1px solid #CACACA;
}

.form__checkbox input[type="checkbox"]:checked + label::before {
    background-image: url("../img/checkbox.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.footer__button {
    padding: 3.6%;
    margin-right: 3.5%;

    width: calc((100% - 30px) / 2);

    border: none;
    background-color: var(--color-orange);
    cursor: pointer;

    color: var(--color-white);
    font-weight: 700;

}

.footer__right {
    align-self: center;
    width: 20.5%;

    line-height: 2;
}

/* Visual effects */

@media (min-width: 1024px) {
    .header__search:hover:not(:focus-visible) svg rect,
    .header__search-close:hover:not(:focus-visible) svg rect {
        fill: var(--color-orange);
    }

    .header__search:hover:not(:focus-visible) svg path,
    .header__search-close:hover:not(:focus-visible) svg circle {
        stroke: var(--color-orange);
    }

    .header__search:focus-visible,
    .header__search-close:focus-visible,
    .header__search-active:focus-visible {
        outline: 2px solid var(--color-orange);
        outline-offset: 2px;
    }

    .header__search-close:active svg rect {
        fill: #333;
    }

    .header__search-close:active svg circle {
        stroke: #333;
    }

    .btn__active:active {
        background-color: #E1670E;
    }

    .calculation__button:hover,
    .calculation__button:focus-visible {
        background-color: #FFB84D;
        outline: none;
    }

    .calculation__button:active {
        background-color: #E1670E;
    }

    .about-us__button:hover,
    .about-us__button:focus-visible {
        background-color: var(--color-orange);
        opacity: 1;
        outline: none;

    }

    .about-us__button:active {
        background-color: #E1670E;
    }

    .how-work__more-btn:hover,
    .how-work__more-btn:focus-visible {
        background-color: #F7B045;
        outline: none;

    }

    .how-work__more-btn:active {
        background-color: #E1670E;
    }

    .how-work__contract-btn:hover,
    .how-work__contract-btn:focus-visible {
        background-color: #666666;
        color: var(--color-white);
        outline: none;

    }

    .how-work__contract-btn:active {
        background-color: #000;
        color: var(--color-white);
    }

    .link__effects:hover {
        color: var(--color-orange);
    }

    .link__effects:focus-visible {
        outline-color: var(--color-orange);
    }

    .link__effects:active {
        color: #E1670E;
    }

    .footer__fieldset > input:hover,
    .footer__fieldset textarea:hover,
    .footer__fieldset > input:focus-visible,
    .footer__fieldset textarea:focus-visible {
        background-color: #666;
        outline: none;
    }

    .questions__button:hover,
    .questions__button:focus-visible,
    .ac .ac-trigger:focus {
        color: var(--color-orange);
        border-color: var(--color-orange);
        z-index: 1;
    }

    .questions__button:hover .questions__svg ellipse,
    .questions__button:focus-visible .questions__svg ellipse {
        fill: var(--color-orange);
    }

    .questions__button:hover .questions__svg path,
    .questions__button:focus-visible .questions__svg path {
        fill: var(--color-white);
    }

    .questions__button:active .questions__svg {
        transform: rotate(45deg);
    }

    .footer__center {
        padding-top: 0.3%;
    }

    .footer__svg:hover path {
        fill: var(--color-orange);
    }

    .footer__social-contacts a:focus-visible {
        outline-color: var(--color-orange);
    }

    .footer__svg:active path {
        fill: #E1670E;
    }
}

.header__link {
    position: relative;
    outline: 2px solid transparent;
    outline-offset: 7px;

    transition-property: color, outline-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.header__link::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -7px;
    height: 2px;
    background-color: var(--color-orange);
    /* opacity: 0; */
    transform: scale(0);
    transition-property: background-color , opacity, transform;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;

}

.header__search svg rect{
    transition: fill .3s ease-in-out;
}

.header__search svg path{
    transition: stroke .3s ease-in-out;
}

.how-work__more-btn,
.calculation__button
 {
    transition: background-color .3s ease-in-out;
}

.about-us__button {
    transition-property: opacity, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.how-work__contract-btn {
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.link__effects {
    outline: 2px solid var(--color-orange);
    outline-offset: 5px;
    outline-color: transparent;

    transition-property: color, outline-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.questions__button {
    transition-property: color, border-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;

    outline: none;
}

.questions__svg ellipse,
.questions__svg path {
    transition: fill .3s ease-in-out;
}

.questions__svg {
    transition: transform .3s ease-in-out;
}

.footer__svg path {
    transition: fill .3s ease-in-out;
}

.footer__social-contacts a {
    display: inline-block;
    outline: 2px solid transparent;
    outline-offset: 5px;

    transition: outline-color .3s ease-in-out;
}